
.laptop-wrap{
  height: 100%;
  overflow:auto;
  .laptop-top{
    height: 30px;
    .laptop-search{
      width: 300px;
    }
    >Button{
      float:right;
      font-size:18px;
      padding:5px 20px 38px 0px;
    }
  }
  
  .laptop-ul{
    margin-top:15px;
    .laptop-li{
      float:left;
      text-align:center;
      width: 176px;
      height: 260px;
      .laptop-img{
        line-height:150px;
        margin:0px auto 5px auto;
        width: 150px;
        height: 150px;
      }
      p:nth-child(2){
        display:-webkit-box;
        min-height:36px;
        overflow:hidden;
        text-overflow:ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font: bold 13px/1.5 Arial;

        margin-bottom:0px;
        width: 175px;
        text-align:left;
      }
      p:nth-child(3){
        color:green;
        text-align:center;
      }
    }
  }
}
